// Copyright 2023 @paritytech/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

html {
  font-size: 10.5px;
  @media (min-width: 600px) {
    font-size: 11px;
  }
}

/* Aleph custom styles */

.light-relay {
  --radio-background: #fff;

}

.dark-relay {
  --radio-background: #0f171f;
}

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: url('../public/fonts/gilroy-regular.otf');
}

@font-face {
  font-family: 'Gilroy';
  font-style: 600;
  src: url('../public/fonts/Gilroy-Medium.otf');
}

body {
  margin: 0;
  font-family: 'Karla', 'sans-serif', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-variation-settings: 'wght' 500;
}

h1, h2,
.core-page-title h1, .modal-content h1 {
  font-family: 'Gilroy', 'sans-serif', sans-serif;
}

.modal-content h3 {
  font-family: 'Karla', 'sans-serif', sans-serif;
}

.btn-text,
.btn-primary-invert,
.btn-tab,
.btn-mono-invert,
.btn-layout,
button {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

.theme-aleph-zero,
.theme-aleph-zero-testnet {
  --color-primary-light: #00ccab;
  --color-primary-dark: #00ccab;
  --color-secondary-light: #00ccab;
  --color-secondary-dark: #00ccab;
  --color-transparent-light: rgb(0, 204, 171, 0.05);
  --color-transparent-dark: rgb(0, 204, 171, 0.05);
  --color-stroke-light: #00ccab;
  --color-stroke-dark: #00ccab;
  --color-button-secondary: #1b2b38;
  --color-button-secondary-hover: #182733;
}
.theme-aleph-zero,
.theme-aleph-zero-testnet.theme-light #logotype_brandmark {
  fill: #111b24;
}

.theme-aleph-zero.theme-dark #logotype_brandmark,
.theme-aleph-zero-testnet.theme-dark #logotype_brandmark {
  fill: white;
}

.theme-aleph-zero .btn-primary,
.theme-aleph-zero-testnet .btn-primary {
  color: #111b24;
}

.theme-aleph-zero .connect > svg path,
.theme-aleph-zero-testnet .connect > svg path {
  fill: #111b24 !important;
}

.theme-aleph-zero .connect > span,
.theme-aleph-zero-testnet .connect > span {
  color: #111b24;
}

button.btn-submit {
  color: inherit;
}

.theme-dark {
  --text-color-primary: rgb(204, 204, 204);
  --text-color-secondary: rgb(170, 170, 170);

  --gradient-background: rgb(17, 27, 36) fixed;
  --gradient-side-menu: rgb(17, 27, 36);

  --background-primary: rgb(20, 32, 42);
  --background-floating-card: rgb(20, 32, 42);
  --background-invert: rgb(237, 240, 243);
  --background-modal: rgb(20, 32, 42);
  --background-default: rgb(17, 27, 36);
  --background-list-item: rgb(22, 35, 46);
  --background-app-footer: rgb(15, 23, 31);


  --modal-background-color: rgba(15, 23, 31, 0.9);

  --button-tertiary-background: rgb(27, 43, 56);
  --button-tab-background: rgb(27, 43, 56);
  --button-hover-background: #1b2b38;
  --button-primary-background: rgb(24, 39, 51);
  --button-secondary-background: #182733;

  --border-primary-color: rgb(27, 43, 56);
}

.theme-light {
  --background-invert: rgb(24, 39, 51);
}

.theme-dark #logotype_brandmark {
  fill: white;
}