// Copyright 2023 @paritytech/polkadot-staking-dashboard authors & contributors
// SPDX-License-Identifier: GPL-3.0-only

html {
  font-size: 10.5px;
  @media (min-width: 600px) {
    font-size: 11px;
  }
}

/* Aleph custom styles */

.light-relay {
  --radio-background: #fff;

}

.dark-relay {
  --radio-background: #0f171f;
}

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  src: url('../public/fonts/gilroy-regular.otf');
}

@font-face {
  font-family: 'Gilroy';
  font-style: 600;
  src: url('../public/fonts/Gilroy-Medium.otf');
}

.btn-layout,
button {
  font-family: 'Gilroy', sans-serif;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

.theme-aleph-zero,
.theme-aleph-zero-testnet {
  --color-primary-light: #00ccab;
  --color-primary-dark: #00ccab;
  --color-secondary-light: #00ccab;
  --color-secondary-dark: #00ccab;
  --color-transparent-light: rgb(0, 204, 171, 0.05);
  --color-transparent-dark: rgb(0, 204, 171, 0.05);
  --color-stroke-light: #00ccab;
  --color-stroke-dark: #00ccab;
  --color-button-secondary: #1b2b38;
  --color-button-secondary-hover: #182733;
}
.theme-aleph-zero,
.theme-aleph-zero-testnet.theme-light #logotype_brandmark {
  fill: #111b24;
}

.theme-aleph-zero.theme-dark #logotype_brandmark,
.theme-aleph-zero-testnet.theme-dark #logotype_brandmark {
  fill: white;
}

.theme-aleph-zero .btn-primary,
.theme-aleph-zero-testnet .btn-primary {
  color: #111b24;
}

.theme-aleph-zero .connect > svg path,
.theme-aleph-zero-testnet .connect > svg path {
  fill: #111b24 !important;
}

.theme-aleph-zero .connect > span,
.theme-aleph-zero-testnet .connect > span {
  color: #111b24;
}

button.btn-submit {
  color: inherit;
}

.theme-aleph-zero-relay,
.theme-aleph-zero-testnet-relay,
.theme-aleph-zero-devnet-relay,
.theme-aleph-zero-local-relay,
.theme-aleph-zero-custom-relay {
  --accent-color-primary: #00ccab;
  --accent-color-primary-dark: #00ccab;
  --accent-color-secondary-light: #00ccab;
  --accent-color-secondary-dark: #00ccab;
  --accent-color-stroke-light: #00ccab;
  --accent-color-stroke-dark: #00ccab;
  --accent-color-transparent-light: rgb(0, 204, 171, 0.05);
  --accent-color-transparent-dark: rgb(0, 204, 171, 0.05);
  --accent-color-pending-light: rgb(0, 204, 171, 0.25);
  --accent-color-pending-dark: rgb(0, 204, 171, 0.25);

  --button-border-radius-small: 0.75rem;
  --button-border-radius-large: 1.5rem;
  --button-padding-small: 0.41rem 1rem;
  --button-padding-large: 0.53rem 1rem;
  --button-spacing-small: 0.125rem;
  --button-spacing-large: 0.625rem;
  --button-font-size-small: 1rem;
  --button-font-size-large: 1.15rem;
  --opacity-disabled: 0.3;
  --title-font-size: 1.75rem;
  --transition-duration: 0.15s;
}